<nav id="global-nav">
  <ul class="nav">
    <li><a href="{{ site.url }}/" data-target="#home">HOME</a></li>
    <li><a href="{{ site.url }}/first.html">はじめに</a>
      <ul>
        <li><a href="{{ site.url }}/first.html#first">Sassと愉快な仲間たち</a>
          <ul>
            <li><a href="{{ site.url }}/first.html#introduction-of-fellow">仲間の紹介</a></li>
          </ul>
        </li>
        <li><a href="{{ site.url }}/first.html#recommended-reason">Sass がおすすめなたった一つの理由</a></li>
        <li><a href="{{ site.url }}/first.html#try">さくっと手触りを試すには？</a></li>
      </ul>
    </li>
    <li><a href="{{ site.url }}/hello/">Hello Sass!</a>
      <ul>
       <li><a href="{{ site.url }}/hello/#cui-or-gui">コマンドかアプリか</a></li>            
       <li><a href="{{ site.url }}/hello/#sass-app">Sassに対応したアプリの紹介</a>
         <ul>
          <li><a href="{{ site.url }}/hello/#Scout">Scout</a></li>
          <li><a href="{{ site.url }}/hello/index.html#Compass-app">Compass.app</a></li>
          <li><a href="{{ site.url }}/hello/#CodeKit">CodeKit</a></li>
          <li><a href="{{ site.url }}/hello/#LiveReload">LiveReload</a></li>
         </ul>
       </li>
       <li>
         <a href="{{ site.url }}/hello/#cui-install">コマンドライン操作での導入方法</a>
         <ul>
           <li><a href="{{ site.url }}/hello/#cui-install-ruby">Rubyのインスール</a></li>
           <li><a href="{{ site.url }}/hello/#cui-install-sass">Sassのインスール</a></li>
           
         </ul>
       </li>
        <li><a href="{{ site.url }}/hello/use.html">Sassを使ってみよう</a>
          <ul>
              <li><a href="{{ site.url }}/hello/use.html#extension-rule">記法と拡張子のルール</a></li>
            <li><a href="{{ site.url }}/hello/use.html#prepare">ディレクトリを作る</a></li>
           <li><a href="{{ site.url }}/hello/use.html#compile">コンパイル</a></li>
           <li><a href="{{ site.url }}/hello/use.html#wath-mode">Watchモード</a>
             <ul><li><a href="{{ site.url }}/hello/use.html#try-watch">何か書いてみる</a></li></ul>
           </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <a href="{{ site.url }}/basic/">基本</a>
      <ul>
          <li><a href="{{ site.url }}/basic/#import">@import</a>
              <ul>
                  <li><a href="{{ site.url }}/basic/#import-rule">有効な条件</a></li>
                  <li><a href="{{ site.url }}/basic/#partial">ファイル名先頭にアンダースコアを付けるルール（partial）</a></li>
                  <li><a href="{{ site.url }}/basic/#multiple">複数指定</a></li>
                  <li><a href="{{ site.url }}/basic/#interpolation">変数と文字列補完</a></li>
                  <li><a href="{{ site.url }}/basic/#nested-import">@importのネスト</a></li>
              </ul>
          </li>
          <li><a href="{{ site.url }}/basic/#comments">コメント</a></li>
          <li><a href="{{ site.url }}/basic/#encodings">文字コードの指定</a>
              <ul>
                  <li><a href="{{ site.url }}/basic/#windows-issue">Windows環境におけるRuby
                      の外部エンコーディング問題</a></li>
              </ul>
          </li>
          <li><a href="{{ site.url }}/basic/#nested-rules">ネスト</a>
              <ul>
                  <li><a href="{{ site.url }}/basic/#nest-property">プロパティのネスト</a></li>
                  <li><a href="{{ site.url }}/basic/#referencing-parent-selectors">親のセレクタを参照する</a></li>
              </ul>
          </li>
      </ul>
      </li>
      <li>
          <a href="{{ site.url }}/sass-script/">SassScript</a>
        <ul>
        <li><a href="{{ site.url }}/sass-script/#data-types">データ型</a></li>
        <li><a href="{{ site.url }}/sass-script/#variables">変数</a>
            <ul>
                <li><a href="{{ site.url }}/sass-script/#variables-scope">変数の有効範囲</a></li>
            </ul>
        </li>
        <li><a href="{{ site.url }}/sass-script/operations/number.html">数値の操作</a>
            <ul>
                <li><a href="{{ site.url }}/sass-script/operations/number.html#division-and-slash">割り算とスラッシュ</a></li>
                <li><a href="{{ site.url }}/sass-script/operations/number.html#unit-function">単位を扱う関数</a></li>
            </ul>
        </li>
        <li><a href="{{ site.url }}/sass-script/operations/string.html">文字列の操作</a>
            <ul>
                <li><a href="{{ site.url }}/sass-script/operations/string.html#quote-function">引用符の有無を操作する</a></li>
            </ul>
        </li>
        <li><a href="{{ site.url }}/sass-script/interpolation.html">補完：#{}</a>
            <ul>
                <li><a href="{{ site.url }}/sass-script/interpolation.html#at-rules">@規則での利用</a></li>
                <li><a href="{{ site.url }}/sass-script/interpolation.html#attribute-selector">属性セレクタでの利用</a></li>
            </ul>
        </li>
        </ul>
      </li>
      {% comment %}<li><a href="">＠ルール</a>
          <ul>
            <li><a href="">@mixin</a></li>
            <li><a href="">@function</a></li>
            <li><a href="">@extend</a></li>
            <li><a href="">@debug</a></li>
              <li><a href="">@warn</a></li>
          </ul>
        </li>
      <li><a href="">出力スタイルの変更</a></li>{% endcomment %}
  </ul>
</nav>