<nav id="global-nav">
  <ul class="nav">
    <li><a href="/" data-target="#home">HOME</a></li>
    <li><a href="{{ site.url }}{{site.baseurl}}first.html">はじめに</a>
      <ul>
        <li><a href="{{ site.url }}{{site.baseurl}}first.html#first">Sassと愉快な仲間たち</a>
          <ul>
            <li><a href="{{ site.url }}{{site.baseurl}}first.html#introduction-of-fellow">仲間の紹介</a></li>
          </ul>
        </li>
        <li><a href="{{ site.url }}{{site.baseurl}}first.html#recommended-reason">Sass がおすすめなたった一つの理由</a></li>
        <li><a href="{{ site.url }}{{site.baseurl}}first.html#try">さくっと手触りを試すには？</a></li>
      </ul>
    </li>
    <li><a href="{{ site.url }}{{site.baseurl}}hello/">Hello Sass!</a>
      <ul>
       <li><a href="{{ site.url }}{{site.baseurl}}hello/#cui-or-gui">コマンドかアプリか</a></li>            
       <li><a href="{{ site.url }}{{site.baseurl}}hello/#sass-app">Sassに対応したアプリの紹介</a>
         <ul>
          <li><a href="{{ site.url }}{{site.baseurl}}hello/#Scout">Scout</a></li>
          <li><a href="{{ site.url }}{{site.baseurl}}hello/index.html#Compass-app">Compass.app</a></li>
          <li><a href="{{ site.url }}{{site.baseurl}}hello/#CodeKit">CodeKit</a></li>
          <li><a href="{{ site.url }}{{site.baseurl}}hello/#LiveReload">LiveReload</a></li>
         </ul>
       </li>
       <li>
         <a href="{{ site.url }}{{site.baseurl}}hello/#cui-install">コマンドライン操作での導入方法</a>
         <ul>
           <li><a href="{{ site.url }}{{site.baseurl}}hello/#cui-install-ruby">Rubyのインスール</a></li>
           <li><a href="{{ site.url }}{{site.baseurl}}hello/#cui-install-sass">Sassのインスール</a></li>
           
         </ul>
       </li>
        <li><a href="{{ site.url }}{{site.baseurl}}hello/use.html">Sassを使ってみよう</a>
          <ul>
            <li><a href="{{ site.url }}{{site.baseurl}}hello/use.html#prepare">ディレクトリを作る</a></li>
            <li><a href="{{ site.url }}{{site.baseurl}}hello/use.html#extension-rule">記法と拡張子のルール</a></li>
           <li><a href="{{ site.url }}{{site.baseurl}}hello/use.html#compile">コンパイル</a></li>
           <li><a href="{{ site.url }}{{site.baseurl}}hello/use.html#wath-mode">Watchモード</a>
             <ul><li><a href="{{ site.url }}{{site.baseurl}}hello/use.html#try-watch">何か書いてみる</a></li></ul>
           </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <a href="#global-nav-basic">基本</a>
      <ul id="global-nav-basic">
        <li><a href="">ファイルに対する@importのルール</a>
          <ul>
            <li><a href="">有効な条件</a></li>
            <li><a href="">ファイル名先頭にアンダースコア（ partial）</a></li>
            <li><a href="">複数指定</a></li>
            <li><a href="">変数と文字列補完</a></li>
          </ul>
        </li>
        <li><a href="">文字コード</a></li>
        <li><a href="">コメント</a></li>
        <li><a href="">ネスト</a>
          <ul>
            <li><a href="">ネスト時に親要素を参照する</a></li>
          </ul>
        </li>
        <li><a href="">変数</a></li>
        <li><a href="">計算</a>
          <ul>
            <li><a href="">計算式とみなされる条件まとめ</a></li>
            <li><a href="">プラス記号（ ＋）使用上の注意</a></li>
          </ul>
        </li>
        <li><a href="">@mixin と @function ディレクティブ</a>
          <ul>
            <li><a href="">@mixin</a></li>
            <li><a href="">@function</a></li>
          </ul>
        </li>
        <li><a href="">出力スタイルの変更</a></li>
      </ul>
    </li>
  </ul>
</nav>